.boxes {
	position: relative;
	width: 1000px;
	height: 600px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	display: grid;
	grid-gap: 0px;
	color: #000;
}

.breedingView .boxes {
    cursor: url(cursor/breed.png), auto;
	
}

.container {
	width: 1000px;
	height: 600px;
	position: relative;
}

.boxes, .overlay {
	width: 1000px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
}

.overlay {
	pointer-events: none;
	z-index: 100;
}

.underlay {
	z-index: -1;
}

#infoi {
	z-index: 10;
}

.boxDiv {
	height: 100%;
	width: 100%;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	color: #000;
}

.box {
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px;
	font-size: 150%;
}

.midBox {
	border-width: 2px;
}
