.watchmakerMenu {
/*  height: 46px; */ /* Classic Mac menu bar height */
}
.watchmakerMenuBar {
	height: 50px;
	position: relative;
	z-index: 2; /* Prevents overlay of popups */
}

.checked {
}

.checkbox {
	min-height: 1px;
	width: 18px;
}