body {font-family: sans-serif}
.wrapper {
    display: table;
    table-layout: fixed;
    font-family: monospace;
//    font-size: 0.75em;
    white-space: pre;

    width:90%;

    background-color:aqua;
}
.wrapper div {
    display: table-cell;
}
.headerwrapper {
    display: table;
    table-layout: fixed;
    font-family: sans-serif;
    font-size: 1.25em;
    white-space: normal;

    width:90%;

    background-color:aqua;
}
.headerwrapper div {
    display: table-cell;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

div {
	font-size: 14pt;
}