@font-face {
    font-family: 'MacOS7'; /*a name to be used later*/
    src: url('font/ChicagoFLF.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'MacOS8'; /*a name to be used later*/
    src: url('font/virtue.ttf'); /*URL to font*/
}


body {font-family: MacOs7, MacOs8, sans-serif;}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}



.ui-icon-circle-close {
    cursor: pointer;
}




