
@font-face {
  font-family: chicagoflf;
  src: url(font/chicagoflf.ttf) format('ttf');
  font-display: block;
}
@font-face {
  font-family: virtue;
  src: url(font/virtue.ttf) format('ttf');
  font-display: block;
}

body, .ui-widget, .ui-widget button {
    font-family: chicagoflf;
}

body {
    width: 1000px;
}



.boxes {
	position: relative;
	width: 1000px;
	height: 600px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	display: grid;
	grid-gap: 0px;
	color: #000;
	
}


.newRandomStart {
     cursor: url(cursor/die.png), auto;
	
}
.container {
	width: 1000px;
	height: 600px;
	position: relative;
}

.pointerEventsNone {
	pointer-events: none;
}

.boxes, .overlay {
	width: 1000px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
}

.overlay {
	pointer-events: none;
	z-index: 100;
}

.underlay {
	z-index: -1;
}

#infoi {
	z-index: 10;
}

.boxDiv {
	height: 100%;
	width: 100%;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	color: #000;
}

.box {
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px;
	font-size: 150%;
}

.midBox {
	border-width: 2px;
}
.wrapper {
    display: table;
    table-layout: fixed;
    white-space: pre;
    width:90%;
    background-color:aqua;
}
.wrapper div {
    display: table-cell;
}

.dialogNoTitle .ui-dialog-titlebar {display:none}

.dialogNoTitle {display: none;}

.headerwrapper {
    display: table;
    table-layout: fixed;
    font-size: 1.25em;
    white-space: normal;

    width:90%;

    background-color:aqua;
}
.headerwrapper div {
    display: table-cell;
}

.ui-dialog-title {
    font-size: 12px
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

div {
	font-size: 12pt;
}



.ui-icon-circle-close {
    cursor: pointer;
}


.ui-widget.ui-widget-content {
    border: 0px none;
}
.ui-widget-content {
    border: 0px none;
    background: #ffffff;
    color: #333333;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px;
    margin: 0px;
    border-style: none;
    border-width: 0px;
}

.no-close .ui-dialog-titlebar-close {
/*  display: none; */
}

.ui-dialog { border: 1px solid black;} 
/* .ui-dialog-titlebar {  display: none; } */

.ui-tabs-nav .ui-state-active a  {
    background: #1f2b59;
}

.ui-state-active, .ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active {
    background: #1f2b59;
}

.ui-state-default a, .ui-state-default a:link {
	color: #1f2b59;
    font-size: 18px;
    font-weight: bold;
}

.ui-state-active a, .ui-state-active a:link {
	color: #ffffff;
	font-size: 18px;
    font-weight: bold;
}

.watchmakerMenu {
/*	height: 46px; */ /* Classic Mac menu bar height */
}


.about {
	padding: 0px;
	margin: 0px;
}
.fileInput {
	width: 300px;
}
.file-dialog {
    padding: 0px;
    margin: 0px;
}
.help-dialog {
    padding: 0px;
    margin: 0px;
}

.status {
	font-size: smaller;
}

.fileList .fileSize {
    text-align: right;	
}
.previewFile {
	border: 1px black solid;
}

.file-preview-slider
{
    height: 200px;
    width: 15px;
}

.albumSelected {
	color: white;
	background-color: black
}
.fileButtonDiv {
	height: 30px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
}
.fileButtonHidden {
    display: none; 
}

.fileListPreviewHeader div {
	font-size: smaller;
}
.fileListPreviewFlexDiv {
	border: 1px black solid;
	height: 200px;
	display: flex;
	flex-direction: row;
/*	justify-content: space-between; */ 
	align-items: flex-start;
}


.fileListElement, .fileSize, .fileInput, .ui-widget button {
    font-size: 12px;
}
.fileList, .fileListPreviewHeader {
	display: grid;
	width: 50%;
    grid-gap: 0px;
	grid-template-columns: 70% 30%;
    padding: 0px;
    margin: 0px;
}

.fileControlRow {
	display: inline;
}


.watchmakerMenuBar {
	height: 46px;
	position: relative;
	z-index: 2; /* Prevents overlay of popups */
}

.checked {
}

.checkbox {
	min-height: 1px;
	width: 18px;
}

.tabicon {
	padding-top: 8px;
	padding-right: 15px;
}


.fossil-slider {
    height: 600px;
    width: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.fossilDiv {
	height: 600px;
	width: 985px;
	position: absolute;
	top: 0px;
	left: 0px;
}
