
.boxes {
	position: relative;
	width: 1000px;
	height: 600px;
	display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
	grid-gap: 0px;
	background-color: #fff;
	color: #000;
}

.engineering {
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0px;
    color: #000;
}

.boxDiv {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: #000;
	
}

.box {
    position: relative;
    left: 0px;
    top: 0px;
	padding: 0px;
	font-size: 150%;
}

.midBox {
	border-width: 2px;
}



