
.boxes {
	width: 1000px;
	height: 600px;
	display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
	grid-gap: 0px;
	background-color: #fff;
	color: #000;
}

.engineering {
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0px;
    background-color: #fff;
    color: #000;
}


.box {
	background-color: #fff;
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 0px;
	font-size: 150%;
}

.midBox {
	border-width: 2px;
}



