.boxesHoriz {
	width: 1000px;
	height: 600px;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px 200px;
	grid-gap: 0px;
	background-color: #fff;
	color: #000;
}

.boxesVert {
	width: 1000px;
	height: 600px;
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-gap: 0px;
	background-color: #fff;
	color: #000;
}

.boxes {
	width: 1000px;
	height: 600px;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px 200px;
	grid-gap: 0px;
	background-color: #fff;
	color: #000;
}

.box {
	background-color: #fff;
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 0px;
	font-size: 150%;
}

.midBox {
	border-width: 2px;
}



